VITE_SUPABASE_URL=https://khkwarlnlcxfbaiijrgf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtoa3dhcmxubGN4ZmJhaWlqcmdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1MTE0NTYsImV4cCI6MjEwNTA4NzQ1Nn0.OQ5TdDHw_oIz-Rm-8gN3Rhwvv95bU1UKneMW00p7FXA
